.posts {
  margin-top: 1em;

  .media-object-section img {
    width: 300px;
  }
}

.post-tags {
  margin-right: 10px;
}

.post-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.post-summary {
  font-family: "Source serif Pro", serif;
}
